* {
    margin: 0;
    padding: 0;
}
header{
    height:110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 110px;
    width: 110px;    
}
main{
    background-color: #e7ded5;
}
footer{
    position: absolute;
    bottom: 0;
    height: 60px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #a1b8a4;
}
footer>h1{
    margin-right: 700px;
    
}
footer>a>img{
    height: 30px;
    width: 30px;
    margin-right: 20px;  
}