* {
    margin: 0;
    padding: 0;
}
body{ 
    font-family: 'Roboto Condensed';

}
header{
    height:110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 110px;
    width: 110px;    
}
main{
    background-color: #e7ded5;
    display: grid;

}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px;
}
.botoes{
    display: flex;
    align-items: stretch;
    width: 190px;
    height: 20px;
    box-shadow: 1px 1px 4px;
    padding: 4px;
    border-radius: 5px;
    background-color: #D1ACA0;
    cursor: pointer;
    text-decoration: none;
}
.botoes:hover{
    background-color: #c5cec6;
}
.botoes:active{
    color: #6e4e39;
    background-color: #B9825D;
}
/* Footer */

footer{
    position: absolute;
    bottom: 0;
    height: 40vh;
    width:100%;
    background-color: #D1ACA0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

footer h1{
    font-size: 20px;
}

.container-formulario-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
}

.formulario{
    margin: 12px;
    display: flex;
    flex-direction: column;
}

.formulario input{
    width: 30vw;
    height: 15px;
}

.button{
    text-align: end;
}

#button{
    padding: 4px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px;
    background-color: #e7ded5;
    cursor: pointer;
}

#button:hover{
    background-color: #B9825D;
}

#button:active{
    background-color: #6e4e39;
    color:  #e7ded5;
}

.container-redes-sociais{
display: flex;
flex-direction: column;
align-items: center;
padding-top: 2vh;
}
    
.redes-sociais img{
    height: 30px;
    width: 30px;
    margin: 3px;
}
